extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/homepage.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  //- h1= title
  //- p Welcome to your Project Skeleton
      //- NEW STUFF
  body(class="body")
    div(class= "welcomeBlock")
      div(class="blockText")
        h2 Welcome to Mediumverse!
        p Time's have changed, but the stories only get better!
        p Explore unique perspectives from beings all over the
        p multiverse and learn what they have to tell about a
        p wide range of topics. Get started today!
      img(src="/images/marvel3.png" class="image")
