doctype html
html
  head
      block head
        title() Mediumverse
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
  body
    div(class="header-nav__container")
      div(class="navLeft")
        img(class="siteTitle" src='/images/text-1615324066260.png' onclick="window.location.href='/'")

      div(class="navRight")
        if locals.authenticated
          //- span Welcome #{user.username}!
          div(id='create-story-div')
            a(class="far fa-plus-square createStoryIcon" href="/stories/create")
          form(action='/user/logout' method='post')
            button(type='submit' class="navButton" id="logout") LOG OUT
          div(id='profile-icon-div')
            a(class="fas fa-mask profile-icon" href=`/${user.id}`)

        else
          div(id="login")
            button(class="navButton" onclick="window.location.href='/user/login'") LOGIN
          div(id="signup")
            button(class="navButton" onclick="window.location.href='/user/signup'") SIGN UP
    div(class="blocking-content")
      div #{title}
      block content
