doctype html
html
  head
      block head
        title="Mediumverse"
        link(rel='stylesheet' href='/stylesheets/index.css')
  body

    div(class="header-nav__container")
      span(class="header-nav__group")
        a(class="header-nav__link")
          div
            p(class="siteTitle") Mediumverse

      span(class="header-nav__group")
        a(class="search")
          div
            p Search


          if locals.authenticated
            span Welcome #{user.username}!
            form(action='/user/logout' method='post')
              button(type='submit') Logout
          else
            span
              a(href='/user/login') Login
              a(href='/user/signup') Sign Up

    block content
