doctype html
html
  head
      block head
        title="Mediumverse"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body

    nav
      if locals.authenticated
        span Welcome #{user.username}!
        form(action='/user/logout' method='post')
          button(type='submit') Logout
      else
        span
          a(href='/user/login') Login
          a(href='/user/signup') Sign Up

    block content
