extends layout.pug

include utils.pug

block head
  title Mediumverse
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/user-signup.css')
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap" rel="stylesheet")

block content
  +validationErrorSummary(errors)
  div(id="signup-block")
    div(id="signup-text") Sign Up
    form(action='/user/signup' method='post' class="signup-form")
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class="username-signup")
        +field('Username:', 'username', user.username)
      div(class="email-signup")
        +field('Email Address:', 'email', user.email)
      div(class="password-signup")
        +field('Password:', 'password', user.password, 'password')
      div(class="confirm-signup")
        +field('Confirm Password:', 'confirmPassword', '', 'password')
      div(class='py-4')
        button(type='submit' class='btn btn-primary navButton') Register
        a(href='/' class='btn btn-warning ml-2') Cancel
    div(class="py-4")
      p: a(href='/user/login') Already have an account?
