/* Don't display the title div for this page. */
#title-header {
    display: none;
}

.create-story-form {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 5% 5% 5% 70% 10% 5%;
    align-items: center;
    justify-items: center;
    height: 1000px;
}

#one {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 508px;
    margin-bottom: 15px;
}


.titleDiv {
    grid-column: 2/3;
    grid-row: 3/4;
}

.textDiv {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: flex-start;
    padding-top: 10px;
}


.text-placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, cursive;
    width: 600px;
    border: none;
    border-radius: 5px;

    padding: 5px;
}

.title-text{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    height: 50px;
}

.content-text {
    min-height: 680px;
}

.text-placeholder:hover {
    /* background-color: rgba(168, 168, 168, 0.075); */
}

.categoryDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1100px;

    grid-column: 2/3;
    grid-row: 5/6;
    /* border: 1px solid red; */
}

.dropdown {
    border: 1px solid rgb(31, 31, 255);
}

.imageUpload {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-content: flex-start;
    margin-right: 508px;
}

#two {
    grid-column: 2/3;
    grid-row: 6/7;
    margin-left: 508px;
}

.category-box {
    background-color: rgba(255, 201, 63, 0.372);
    border: solid 1px rgb(255, 200, 63);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
}

.category-box:hover {
    background-color: rgba(255, 201, 63, 0.694);
    border: solid 2px rgb(255, 200, 63) ;
    /* dancing later */
    /* height: 20px; */
}

.userSelected {
    color: rgb(255, 200, 63);
    /* changing how to choose box */
}

@media screen and (max-width: 600) {
    .text-placeholder {
        display: block;
    }
    .create-story-form {
        width: auto;
        /* Not DONE */
    }
}

.delete-button {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: flex-start;
}

.editImageUpload {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-content: center;
    color: white;
}
