#story-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

#story-title{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    max-width: 60vw;
    align-items: center;
    text-align: center;
}

#story-category{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 2.5rem;
}
#story-picture{
    max-width: 60vw;
    max-height: 1000px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#story-picture img{
    max-width: 100%;
    max-height: 1000px;
    height: auto;
    width: auto;
    display: block;
}

#story-text{
    width: 60vw;
    font-size: 24px;
    white-space: pre-wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user-features{
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    height: 5vh;
    padding-top: 15px;
}

#modify-story{
    display: flex;
    width: 40%;
    height: auto;
    justify-content: flex-end;
    padding: 10px;
    border-top: 2px solid lightgrey;
}

#user-comments-div{
    width: 60%;
    border-top: 2px solid lightgrey;
    padding-top: 10px;
    padding-left: 10px;
}

.user-comments{
    height: auto;
    border-top: 2px solid lightgrey;
    width: 90%;
    font-size: 14px;
    padding: 10px;
}

#story-edit button{
    color:whitesmoke;
    background-color:rgb(31, 31, 255);
    border: black solid 1px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px 20px;
    margin-right: 5px;
    height: 4vh;
}

#user-post{
    margin-bottom: -2%;
}

#all-comments{
    width: 90%;
}

#story-delete button {
    color:whitesmoke;
    background-color:rgb(31, 31, 255);
    border: black solid 1px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px 20px;
    height: 4vh;
}

#show-comments{
    color:whitesmoke;
    background-color:rgb(31, 31, 255);
    border: black solid 1px;
    border-radius: 5px;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    height: 4vh;
    align-items: center;
}

#show-comments::before{
    content: '\1F4AC';
    align-items: center;
}

#close-comments{
    width: 90%;
    display: flex;
    justify-content: flex-end;

}

#close-comments-button-div{
    padding: 5px;
    width: 20%;
    display: flex;
    justify-content: flex-end;

}
#create-comment-form{
    width: 90%;
}

.form-group{
    width: 100%;
}

#text{
    width: 100%;
}
textarea{
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea:focus{
    outline: none;
}

#submit-comment-button{
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.edit-form{
    width: 90%;

}

#comment-section{
    width: 30%;
    z-index: 1;
    position: fixed;
    visibility: hidden;
    height: 100%;
    right: 0px;
    top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-left: 2px solid black;
}

/* Styling for comment's author. */
.comment-creator {
    font-size: 20px;
}

/* Styling for comment's body text. */
.comment-body{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#one{
    font-size: 16px;
}


/* Styling for container for comment buttons. */
.comment-buttons-div{
    display: flex;
}

.comment-div-buttons{
    background-color: rgb(247, 247, 247);
    border-style: none;
    color: blue;
}
