/* h1 {
    color: #555555;
} */

.navbar {
    position: fixed;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.navLeft {
    background-color: blue;
    /* display: flex; */
    align-items: left;
}

.navRight {
    /* display: flex; */
    align-items: right;

}

.siteTitle {

}
