/* h1 {
    color: #555555;
} */

.header-nav__container {
    position: fixed;
    background-color:rgba(243, 67, 67, 0.678);
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-bottom: black solid 1px;
}

.navRight {
    display: flex;
    align-items: right;
    align-items: center;
    padding-right: 100px;
    width: 200px;
    justify-content: space-between;
}

.siteTitle {
    font-weight: bold;
    color: blue;
    font-size: xx-large;
    padding-left: 100px;
}

.navButton {
    border: black solid 1px;
    border-radius: 5px;
    font-size: medium;
    padding: 2px 7px;
}

.profile-icon {
    color: whitesmoke;
}
