
.blocking-content {
    margin-top: 120px;
}

.header-nav__container {
    top: 0;
    position: fixed;
    /* background-color:rgba(243, 67, 67, 0.678); */
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    border-bottom: red solid 2px;
}

.navRight {
    display: flex;
    align-items: right;
    align-items: center;
    padding-right: 100px;
    width: 230px;
    justify-content: space-between;
}

.navLeft {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.navButton {
    color:whitesmoke;
    background-color:rgb(31, 31, 255);
    border: black solid 1px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px 20px;
}

.profile-icon {
    color: rgb(31, 31, 255);
    text-decoration: none;
    font-size: 45px;
}

.createStoryIcon {
    color: rgb(31, 31, 255);
    text-decoration: none;
    font-size: 45px;
}
