/* Styling for title div. */
#title-header {
    font-family: "Marvel", sans-serif;
    font-size: 60px;
    /* margin: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 30px;
    padding-top: 5px;
    /* border: 1px solid red; */
}

/* Container for story previews. */
#story-preview-container {
    display: flex;
    flex-direction: column;
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */

    /* border: 1px solid red; */
}

/* Styling for each story preview. */
.story-preview {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    /* font-size: 30px; */

    padding-top: 20px;
    padding-bottom: 20px;

    /* border: 1px solid green; */
    border-bottom: 1px solid grey;
}

/* Stylings for story title. */
.story-title {
    font-size: 30px;
    text-decoration: none;
}

.story-title:visited {
    color: black;
}

.story-title:link {
    color: black;
}

/* Styling for story created info. */
.created-info {
    font-size: 15px;
}

/* Styling for story preview image. */
.story-preview-image {
    max-width: 70%;
}

/* Styling for the story preview buttons' container. */
.story-preview-buttons {
    display: flex;
    /* border: 1px solid red; */
}

/* Styling for the buttons inside the button container. */
.story-preview-buttons form button {
    border: none;
    background: none;

    margin-right: 10px;
    
    color: blue;
    font-size: 18px;
}

.following {
    background-color: rgb(31, 31, 255);
    color: white;
    font-weight: bold;
}
