/* Styling for title div. */
#title-header {
    font-family: "Marvel", sans-serif;
    font-size: 60px;
    /* margin: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 30px;
    padding-top: 5px;
    /* border: 1px solid red; */
}

/* Container for story previews. */
#story-preview-container {
    display: flex;
    flex-direction: column;
    width: 800px;

    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */

    border: 1px solid blue;
}

/* Styling for each story preview. */
.story-preview {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    /* font-size: 30px; */

    padding-top: 20px;
    padding-bottom: 20px;

    /* border: 1px solid green; */
    border-bottom: 1px solid grey;

    color: white;
}

/* Stylings for story title. */
.story-title {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.story-title:visited {
    color: white;
}

.story-title:link {
    color: white;
}

/* Styling for story created info. */
.created-info {
    font-size: 15px;
}

/* Styling for story preview image. */
.story-preview-image {
    max-width: 70%;
}

/* Styling for the story preview buttons' container. */
.story-preview-buttons {
    display: flex;
    /* border: 1px solid red; */
}

/* Styling for the buttons inside the button container. */
.story-preview-buttons form button {
    border: none;
    background: none;

    margin-right: 10px;

    color: blue;
    font-size: 18px;
}

.following {
    background-color: rgb(255, 200, 63);
    color: white;
    font-weight: bold;
}

#title-header{
    display: flex;
    justify-content: center;
}

#follow-div {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.otherUserImg {
    width: 50px;
    height: auto;
    justify-content: center;

}

#title {
    margin-left: 100px;
}

.following-container {
    display: flex;

    justify-content: center;

    border: 1px solid red;
}

.following-label {
    color: white;
}

.otherUserLabel {
    font-weight: bold;
    font-style: italic;
    padding-left: 4px;
}

h2 {
    text-align: center;
}

.userFollowing {
    justify-content: center;
    padding: 10px;
    display: flex;
    
}

.userFollowing a{
    display: flex;
    justify-content: center;
}

